services:
  - type: web
    name: portfolio-diego-gomez
    env: static
    buildCommand: ""
    staticPublishPath: .
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

